.div {
    max-width: 70%;
    margin: 0 auto; 
  }

  .tittle{
    text-align: center;
    margin-top: 20px;
    color: #F5B041;
  }

  * {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: #fff; 
  }

  .subtitulos{
    text-align: center;
  }
  
  .head {
    border: 3px solid gray;
  }

  .body{
    border: 3px solid gray;
  }
  
  .boton {
    border-radius: 10px;
    gap: -20px;
  }

  .botons{
    gap: 20px;
  }

  .actions-cell {
    justify-content: center; /* Center buttons horizontally */
    gap: 10px; /* Adjust this value to change the spacing between buttons */
  }